extends layout

block content
  head
    title My Account
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

  body
    .user-info
    h1 Bienvenue, #{user.username}
    p Email : #{user.email} 
    p Prénom : #{user.first_name} 
    p Nom : #{user.last_name} 
