extends layout

block content
  body
    if error
      p.error= error

    form(action="/event" method="POST")
      div
        label(for="name") Nom de l'évènement :
        input(type="text" name="name" id="name" required)
      
      div
        label(for="theme") Thème :
        select(name="theme" id="theme" required)
          option(value="") -- Choisissez un thème --
          option(value="Music") Musique
          option(value="Sports") Sports
          option(value="Art") Art
          option(value="Technology") Technologie
          option(value="Education") Éducation
      
      div
        label(for="price") Prix :
        input(type="number" name="price" id="price" required)
      
      div
        label(for="event_date") Date :
        input(type="date" name="event_date" id="event_date" required)
      
      div
        button(type="submit") Créer
