extends layout

block content
  head
    title Home
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- link(rel="stylesheet" href="/stylesheets/style.css") // Assurez-vous que le chemin correspond au fichier CSS

  body
    // Menu de navigation
    nav.navbar
      ul.navbar-menu
        li
          a(href="/account") My Account
        li
          a(href="/logout") Logout
    
    // Contenu principal de la page d'accueil
    main
      h1 Bienvenue sur l'application
      p Ceci est la page d'accueil de votre application.
      p Connectez-vous ou accédez à votre compte pour en savoir plus.

    // Pied de page
    footer
      p &copy; 2024 Votre Application. Tous droits réservés.
