doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous")
    body
        div.container-fluid
            nav(class="navbar navbar-light bg-light justify-content-between")
                button(class="navbar-brand mb-0 h1" href='/home') Good Event
                //- button(class="btn btn-primary" href='/home') GoodEvent

                if user
                    form.form-inline(method='POST' action="/logout")
                        button(class="btn btn-primary" type="submit") Déconnexion
                    form.form-inline(method='POST' action="/account")
                        button(class="btn btn-primary" type="submit") #{user.username}

                        //-a(type="submit") #{user.username}

            h1= title
            block content
