extends layout

block content
  form(method='POST' action='/login')
    div.form-group
      label(for='email') Email:
      input#login.form-control(type='text' name='email' required='true')

    div.form-group
      label(for='password') Mot de passe:
      input#password.form-control(type='password' name='password' required='true')
      
      button#toggleButton(type='button' onclick='togglePassword()') Afficher

    button.btn.btn-primary(type='submit') Valider

    p
      | Pas de compte ? 
      a(href="/auth/register") Inscrivez-vous ici

  script.
    function togglePassword() {
      var passwordInput = document.getElementById('password');
      var toggleButton = document.getElementById('toggleButton');

      if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
        toggleButton.textContent = 'Masquer';
      } else {
        passwordInput.type = 'password';
        toggleButton.textContent = 'Afficher';
      }
    }
