extends layout

block content
  body
    if error
      p.error= error

    form(action="/auth/register" method="POST")
      div
        label(for="username") Nom d'utilisateur :
        input(type="text" name="username" id="username" required)
      div
        label(for="first_name") Prénom :
        input(type="text" name="first_name" id="first_nam" required)
      div
        label(for="last_name") Nom :
        input(type="text" name="last_name" id="last_name" required)
      div
        label(for="birth_date") Date de naissance :
        input(type="date" name="birth_date" id="birth_date" required)
      div
        label(for="email") Email :
        input(type="email" name="email" id="email" required)
      div
        label(for="password") Mot de passe :
        input(type="password" name="password" id="password" required)
      div
        button(type="submit") S'inscrire
    p
      | Déjà un compte ? 
      a(href="/login") Connectez-vous ici
