<div class="search-bar">
  <select [(ngModel)]="theme" (change)="search()">
    <option value="all">Thème</option>
    <option value="Music">Musique</option>
    <option value="Sports">Sports</option>
    <option value="Art">Art</option>
  </select>

  <div class="search-bar__separator"></div>

  <select [(ngModel)]="sort" (change)="search()">
    <option value="all">Trier</option>
    <option value="date">Date</option>
    <option value="price">Prix</option>
  </select>

  <div class="search-bar__separator"></div>

  <button (click)="resetFilter()">Réinitialiser</button>
</div>
