/* search-bar.component.css */
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #dddfe2;
  border-radius: 30px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  transition: box-shadow 0.3s ease;
  margin-top: 5rem;
  gap: 8px;
}

.search-bar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-bar select {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px !important;
}

.search-bar button {
  background-color: #ff5a5f;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: #ff385c;
}

.search-bar button svg {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.search-bar-separator {
  width: 1px;
  height: 20px;
  background-color: #ddd;
  margin: 0 10px;
}
