<app-menu></app-menu>

<div class="event-details">
  <div class="event-header">
    <h2 class="event-title">{{ event?.name }}</h2>
    <button class="fav-event" (click)="toggleFavorite()">
      <svg class="heart" [class.liked]="isLiked" viewBox="0 0 24 24">
        <path
          d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"
        />
      </svg>
    </button>
  </div>

  <div class="event-info">
    <p><strong>Thème :</strong> {{ event?.theme }}</p>
    <p><strong>Prix :</strong> {{ event?.price }}€</p>
    <p><strong>Date :</strong> {{ event?.event_date | date : "dd/MM/yyyy" }}</p>

    <div class="event-footer">
      <button class="btn supprimer-event" (click)="deleteEvent()">
        Supprimer
      </button>
      <button
        class="btn modifier-event"
        [routerLink]="['/edit-event', event?._id]"
      >
        Modifier
      </button>
    </div>
  </div>
</div>
