/* Styles généraux */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Style pour le menu */
app-menu {
  background-color: #060806;
  padding: 15px;
  color: white;
  text-align: center;
  font-size: 1.2em;
}

/* Style pour les informations utilisateur */
.user-info {
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  width: 90%;
}

.user-info p,
.user-info h3 {
  margin: 10px 0;
}

.user-info h3 {
  color: #060806;
  border-bottom: 2px solid #0b050a;
  padding-bottom: 5px;
}

/* Style pour la liste des événements */
.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.event-list div {
  background: #f5f5f5;
  border-radius: 5px;
  flex: 1 1 calc(33.333% - 30px); /* Trois événements par ligne */
  box-sizing: border-box;
  padding: 15px;
  transition: transform 0.3s ease;
}

.event-list div:hover {
  transform: scale(1.05);
}
